/* promo banner */

.promo-banner-wrap {
    position: relative;
    width: 100vw;
    height: 18.66667vw;
}

.promo-banner-wrap.active {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #2789ce;
    outline: none;
    -webkit-tap-highlight-color: rgba(182,223,253,0.5);
}

.promo-banner img {
    width: 100%;
    height: 100%;
}

img {
    background-size: contain !important;
}

.promo-banner-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 18.66667vw;
    background: #000 url(./images/loading.svg) center no-repeat;
    background-size: 10.66667vw;
}

.a-search {
    position: absolute;
    z-index: 2;
    right: 0;
    width: 12.8vw;
    height: 12.26667vw;
    padding: 0;
    background-image: linear-gradient(180deg, #525252 0%, #2D2D2D 100%);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-radius: 0;
}

.a-search:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 13.06667vw;
    width: 8.26667vw;
    height: 12.26667vw;
    background-image: linear-gradient(90deg, transparent 0%, #000 110%);
}

 .a-search:before {
    background-image: linear-gradient(90deg, rgba(255,184,12,0) 0%, #FFB80C 110%);
}

.a-search:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.86667vw;
    height: 5.86667vw;
    background: url('data:image/svg+xml,<svg height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg"><path d="m29.6697865 25.8286042h-1.0026615l-.3764635-.3143021c1.191151-1.4455833 1.9434479-3.2687188 1.9434479-5.342849-.0000573-4.5258698-3.6359011-8.1714531-8.14825-8.1714531-4.4505886 0-8.0858594 3.6455833-8.0858594 8.1714531s3.6352708 8.1713959 8.1483073 8.1713959c2.0058385 0 3.886151-.7543594 5.3276094-1.948375l.3758906.3143593v1.0055261l6.2678802 6.2856406 1.8803125-1.8856979zm-7.5214792 0c-3.1339688 0-5.6411094-2.5143594-5.6411094-5.6571511 0-3.1429062 2.5071406-5.6570937 5.6411094-5.6570937 3.1338542 0 5.6410521 2.5141875 5.6410521 5.6570937 0 3.1427917-2.5071979 5.6571511-5.6410521 5.6571511z" fill="rgb(255,255,255)" transform="translate(-14 -12)"/></svg>') center no-repeat;
    background-size: cover;
}

.wrap-highlight {
    position: relative;
    height: 13.26667vw;
    background-color: #1e1e1e;
    border-bottom: 0.7vw solid #e8e8e8;
    overflow: hidden;
}

.wrap-highlight {
    background-image: linear-gradient(-180deg, #FFCC2E 0%, #FFB80C 71%);
    border-bottom-color: #000;
}

.wrap-highlight li {
    position: relative;
    padding-top: 2.66667vw;
    margin-left: 1.86667vw;
}

.tag-new {
    position: absolute;
    width: 8.53333vw;
    height: 4.8vw;
    background: url('data:image/svg+xml,<svg width="32" height="16" viewBox="0 0 32 16" xmlns="http://www.w3.org/2000/svg"><path d="M20 12l-7 4 1-4h-11c-1.657 0-3-1.343-3-3v-6c0-1.657 1.343-3 3-3h26c1.657 0 3 1.343 3 3v6c0 1.657-1.343 3-3 3h-9z" fill="%23D0021B"/></svg>') center no-repeat;
    background-size: contain;
    color: #FFFFFF;
    line-height: 4vw;
    font-size: 2.4vw;
    font-weight: bold;
    text-align: center;
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.6));
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.6));
    z-index: 2;
}

.wrap-highlight .tag-new {
    top: 0.53333vw;
    right: 2.13333vw;
}


.wrap-highlight a {
    font-weight: bold;
    color: #fff;
    line-height: 9.6vw;
    padding: 0 1.86667vw;
    border-radius: 1.6vw 1.6vw 0 0;
}

.wrap-highlight .menu-casino a {
    background-image: linear-gradient(-180deg, #806575 15%, #4B2C3E 100%);
    color: #FFFFFF;
}

.wrap-highlight .menu-casino a {
    color: #FFFFFF;
}

.wrap-highlight img {
    width: 5.33333vw;
    height: 5.33333vw;
    margin: 2.13333vw 1.6vw 0 0;
}

.icon-casino {
    background: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><g fill="none"><path d="M20 18.624v-16.038c0-.748-.696-1.361-1.544-1.361h-.95c.051.135.068.269.085.404l1.578 15.978c.119 1.152-.848 2.169-2.154 2.274l-1.459.12h2.918c.831-.015 1.527-.628 1.527-1.376z" id="Path" fill="%23CFBCC7"/><path d="M16.42 16.761l-3.062-15.642c-.148-.741-.922-1.231-1.745-1.097l-10.371 1.646c-.823.133-1.366.83-1.218 1.572l3.078 15.642c.148.741.922 1.231 1.745 1.097l10.371-1.646c.807-.133 1.35-.83 1.202-1.572zm-4.313-5.041c-.626.815-1.728 1.142-2.733.904.082.208.132.371.181.43.23.371 1.004.652.84.993-.165.326-.477-.03-1.333.104-.856.133-1.021.563-1.3.311-.28-.267.346-.771.412-1.186.016-.074.016-.237 0-.46-.856.534-2.025.563-2.914-.015-1.152-.726-1.432-2.165-.626-3.202.774-.993 2.864-3.455 2.864-3.455s2.897 1.661 4 2.357c1.136.741 1.416 2.179.609 3.217z" fill="%23FFFFFF" fill-rule="nonzero"/><path d="M18.218 17.754l-1.483-16.091c-.064-.753-.781-1.311-1.579-1.25l-.973.075.08.271 2.966 15.895c.207 1.145-.606 2.245-1.818 2.441l-2.966.497 4.449-.362c.797-.045 1.387-.723 1.324-1.476z" fill="%23CFBCC7"/></g></svg>') no-repeat;
}

.wrap-highlight .menu-casino a:after, .mian-wrap .gamehall a:after {
    content: "";
    display: block;
}

.wrap-highlight .menu-casino a:after {
    position: relative;
    top: 3.73333vw;
    left: 1.06667vw;    
    width: 2.66667vw;
    height: 2.66667vw;
    margin-right: 1.06667vw;
    background: url('data:image/svg+xml,<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M8.889 8.889h-7.778v-7.778h2.889v-1.111h-2.889c-.617 0-1.111.5-1.111 1.111v7.778c0 .611.494 1.111 1.111 1.111h7.778c.611 0 1.111-.5 1.111-1.111v-2.889h-1.111v2.889zm-2.778-8.889v1.111h1.994l-5.461 5.461.783.783 5.461-5.461v1.994h1.111v-3.889h-3.889z" fill="%23CFBCC7" fill-rule="nonzero"/></svg>') no-repeat;
    background-size: cover;
}

/* .wrap-highlight ul {
    position: absolute;
    white-space: nowrap;
    padding-right: 1.86667vw;
    bottom: 0;
}

.a-search+.wrap-highlight ul {
    padding-right: 21.33333vw;
} */

 .wrap-highlight .select a {
    color: #ffb80c;
    background-image: linear-gradient(-180deg, #464646 15%, #121212 100%);
}

.tag-live {
    position: absolute;
    top: 1.06667vw;
    right: 1.33333vw;
    min-width: 9.33333vw;
    height: 3.2vw;
    border-radius: 0.8vw;
    padding-right: 1.33333vw;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.66667vw;
    line-height: 3.2vw;
    background-image: linear-gradient(180deg, #FB3434 0%, #E80505 100%);
    box-shadow: 0 0.26667vw 0.8vw 0 rgb(0 0 0 / 50%);
}

.tag-live strong {
    flex: 1;
    height: 100%;
    margin-right: 1.33333vw;
    padding: 0 0.53333vw;
    border-radius: 0.8vw 0vw 0vw 0.8vw;
    background-image: linear-gradient(180deg, #fff 0%, #eee 89%);
}

.tag-live strong:before {
    width: 3.73333vw;
    height: 2.13333vw;
    background: url('data:image/svg+xml,<svg width="14" height="8" xmlns="http://www.w3.org/2000/svg"><g fill="rgb(255,0,0)" fill-rule="evenodd"><path d="M12.012 0l-.698.727c1.734 1.808 1.734 4.738 0 6.546l.698.727c2.117-2.207 2.117-5.79 0-8zM10.3 1.714l-.7.735c.967 1.014.967 2.66 0 3.673l.7.735c1.352-1.418 1.352-3.721 0-5.143zM1.588 0l.698.727c-1.734 1.808-1.734 4.738 0 6.546L1.588 8c-2.117-2.207-2.117-5.79 0-8zM3.3 1.714l.7.735c-.967 1.014-.967 2.66 0 3.673l-.7.735c-1.352-1.418-1.352-3.721 0-5.143z"/><circle cx="6.8" cy="4.4" r="1.6"/></g></svg>') no-repeat;
    background-size: contain;
}

.twinkling, .tag-live strong:before, .on_live .live_icon span:before {
    animation: twinkling 1.4s infinite ease;
}
.tag-live strong:before, .btn-minmax_bet:before, .on_live .live_icon span:before, .binary .btn-depth:before, .btn-Rule:before {
    content: "";
    display: block;
}

.highlight-list, .inplay-list, .upcoming-list, .menu-list {
    background-color: #fff;
    border-bottom: 1px solid #7e97a7;
    margin-bottom: 20px;
}
.highlight-list, .inplay-list {
    border-bottom: 0.8vw solid #FFA40C;
}

.select .icon-cricket {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="rgb(255,184,12)" fill-rule="evenodd" d="M4.565 2.84c.505-.414 1.042-.79 1.608-1.123l15.66 19.1c-.436.487-.91.94-1.416 1.356L4.565 2.84zm-1.79 1.806l15.522 18.93C16.565 24.487 14.592 25 12.5 25 5.596 25 0 19.404 0 12.5c0-2.975 1.04-5.707 2.775-7.854zM8.557.636C9.797.222 11.122 0 12.5 0 19.404 0 25 5.596 25 12.5c0 2.252-.596 4.366-1.638 6.19L8.557.636z"/></svg>') no-repeat;
}

.highlightTab_IPL .icon-cricket {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="%23000000" fill-rule="evenodd" d="M4.565 2.84c.505-.414 1.042-.79 1.608-1.123l15.66 19.1c-.436.487-.91.94-1.416 1.356L4.565 2.84zm-1.79 1.806l15.522 18.93C16.565 24.487 14.592 25 12.5 25 5.596 25 0 19.404 0 12.5c0-2.975 1.04-5.707 2.775-7.854zM8.557.636C9.797.222 11.122 0 12.5 0 19.404 0 25 5.596 25 12.5c0 2.252-.596 4.366-1.638 6.19L8.557.636z"/></svg>') no-repeat;
}

.icon-soccer {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="%23000000" fill-rule="evenodd" d="M19.63 2.945c-.77-.574-1.602-1.052-2.492-1.43-.49-.205-.987-.378-1.495-.516-.4.162-.892.472-1.714 1.174-.687-.073-1.38-.076-2.076-.01-.91.086-1.822.288-2.715.604-.808.283-1.446.606-1.876.853-.626-.223-1.49-.496-1.937-.64-.44.333-.86.697-1.256 1.093-1.02 1.02-1.835 2.197-2.428 3.5-.074.785-.037 1.595.018 2.21-.294.738-.505 1.508-.628 2.3-.128.827-.18 2.328-.12 3.223.15.625.352 1.237.605 1.835.6 1.42 1.46 2.695 2.554 3.79.304.302.62.587.95.853-.013-.275-.096-1.328-.09-1.727l4.106-1.37 4.74 2.05c.367 1.485.56 2.295.583 2.43-.87.57-3.007.998-4 1.063.7.126 1.415.19 2.14.19 1.608 0 3.17-.315 4.64-.936.786-.333 1.528-.745 2.22-1.232-.878.453-1.912.55-2.89.71-.086.012-1.312.1-1.32.063l-.617-2.51 3.337-3.474 4.324-.394c.065.673.273 1.665.337 2.3.368-.57.686-1.174.953-1.805.62-1.47.937-3.03.937-4.64 0-1.14-.16-2.26-.474-3.338-.002.01-.002.016-.002.023-.26-.502-.564-.985-.908-1.444-.544-.727-1.19-1.396-1.923-1.992-.133-.664-.5-1.707-1.484-2.803zm1.707.715c1.147 1.15 2.048 2.484 2.68 3.976.652 1.54.983 3.18.983 4.865 0 1.69-.33 3.326-.982 4.867-.63 1.49-1.53 2.825-2.68 3.973-1.146 1.147-2.483 2.048-3.972 2.678-1.54.65-3.18.982-4.866.982-1.69 0-3.325-.33-4.866-.982-1.49-.63-2.826-1.53-3.973-2.678-1.147-1.148-2.048-2.484-2.678-3.973C.332 15.827 0 14.187 0 12.5c0-1.687.33-3.323.982-4.864.63-1.49 1.53-2.826 2.68-3.973C4.807 2.515 6.144 1.615 7.633.985 9.174.33 10.81.003 12.497 0c1.69 0 3.325.33 4.866.982 1.49.63 2.826 1.53 3.974 2.678zm-4.37 2.287l-2.138 5.835-5.13.985L5.463 8.39C5.748 6.403 7.11 4.644 7.11 4.644c.007-.005.894-.646 2.318-1.142.83-.292 1.675-.478 2.518-.557.688-.063 1.373-.052 2.05.03l2.97 2.97zM2.07 16.63c-.12-.445-.263-1.09-.334-1.865-.08-.875-.055-1.744.076-2.576.1-.64.26-1.26.48-1.855.865-.73 2.01-1.158 2.642-1.355l4.16 4.296-.436 4.708-3.915 1.283c-1.034-.76-2.03-1.695-2.674-2.638zm20.236-.87c-.015.026-.077.062-.092.094l-4.296.392-2.37-4.144 2.144-5.847 3.025.19c.643.54 1.213 1.138 1.696 1.784.604.81 1.074 1.7 1.395 2.643-.336 2.92-1.17 4.38-1.502 4.887z"/></svg>') no-repeat;
}

.icon-tennis {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="%23000000" fill-rule="nonzero" d="M11.327.048c.358 3.07 1.93 6.34 4.608 9.02 2.68 2.68 5.95 4.25 9.015 4.606-.26 2.8-1.46 5.53-3.605 7.674-2.148 2.143-4.87 3.347-7.676 3.607-.354-3.07-1.926-6.336-4.607-9.017-2.68-2.68-5.946-4.25-9.017-4.607.26-2.8 1.463-5.53 3.608-7.673C5.8 1.513 8.53.31 11.327.047zM25 12.123c-2.687-.346-5.57-1.77-7.96-4.16C14.65 5.57 13.223 2.684 12.877 0c3.076.095 6.126 1.308 8.47 3.655C23.693 6.002 24.91 9.048 25 12.123zM0 12.88c2.684.35 5.57 1.773 7.958 4.163 2.392 2.39 3.816 5.275 4.162 7.957-3.075-.09-6.12-1.308-8.466-3.652C1.308 19.002.09 15.955 0 12.88z"/></svg>') no-repeat;
}

 .icon-mt5 {
    background: url('data:image/svg+xml,<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><path d="M12.557.396c6.904 0 12.5 5.596 12.5 12.5s-5.596 12.5-12.5 12.5c-6.903 0-12.5-5.596-12.5-12.5s5.597-12.5 12.5-12.5zm.059 5.29c-3.94 0-7.132 3.362-7.132 7.51 0 4.146 3.193 7.507 7.132 7.507 3.939 0 7.132-3.361 7.132-7.508s-3.193-7.508-7.132-7.508zM4.08 18.633c-.263-.455-.867-.6-1.346-.323-.479.276-.655.872-.392 1.327.263.455.866.6 1.345.323.48-.276.655-.872.393-1.327zm18.383-.443c-.48-.277-1.083-.132-1.345.323-.263.456-.087 1.05.392 1.327.479.277 1.082.132 1.345-.323.263-.455.087-1.05-.392-1.327zm-2.245-2.82a5.357 5.357 0 01-.714 2.322 5.367 5.367 0 01-1.603 1.745c1.105.39 2.34-.011 2.919-1.014.583-1.01.304-2.291-.602-3.052zm-15.33.016c-.89.762-1.16 2.032-.581 3.035.583 1.01 1.832 1.409 2.944 1.005a5.357 5.357 0 01-1.653-1.779 5.367 5.367 0 01-.71-2.261zm10.481-7.38V10.8h-2.277l-.122.443.269.088c.696.246 1.22.58 1.574 1.004.547.647.82 1.422.82 2.326 0 .956-.333 1.75-1 2.38-.666.63-1.505.945-2.517.945-.683 0-1.356-.188-2.02-.563v-2.398l.222.108c.438.199.83.299 1.174.299.416 0 .744-.1.986-.3.242-.2.363-.471.363-.814 0-.385-.187-.71-.56-.977-.372-.267-.832-.4-1.379-.4-.208 0-.483.04-.827.122l.997-5.06h4.297zm-2.804-4.549c-1.166 0-2.136.882-2.342 2.048a5.357 5.357 0 012.367-.543c.835 0 1.623.187 2.313.517-.215-1.153-1.18-2.022-2.338-2.022zm-.07-2.31c-.526 0-.953.45-.953 1.004 0 .553.427 1.003.953 1.003.525 0 .953-.45.953-1.003 0-.553-.428-1.003-.953-1.003z" fill="%23000000" fill-rule="evenodd"/></svg>') no-repeat;
}
/* .wrap-highlight ul {
    position: absolute;
    white-space: nowrap;
    padding-right: 1.86667vw;
    bottom: 0;
}*/
.a-search+.wrap-highlight ul {
    padding-right: 21.33333vw;
} 
 .wrap-highlight a {
    color: #222;
}

.highlightTab_IPL  a {
    color: #222;
}

.highlightTab_IPL, .highlightTab_IPL a{
    width: 111px;
}

.highlight-list li, .inplay-list li, .upcoming-list li, .menu-list li {
    border-bottom: 1px solid #e0e6e6;
    list-style: none;
    align-items: center;
}

.highlight-list a, .inplay-list a, .upcoming-list a, .menu-list a {
    flex: 1;
    position: relative;
    font-size: 4vw;
    font-weight: bold;
    line-height: 1.6;
    padding: 2.13333vw 9.06667vw 2.13333vw 2.66667vw;
    flex-wrap: wrap;
    align-items: center;
}

.highlight-list a, .inplay-list a {
    padding: 1.6vw 0 1.86667vw 6.66667vw;
}

.highlight-list .inplay-on a:before, .inplay-list .inplay-on a:before, .upcoming-list .inplay-on a:before, .menu-list .inplay-on a:before, .highlight-list .inplay-off a:before, .inplay-list .inplay-off a:before, .upcoming-list .inplay-off a:before, .menu-list .inplay-off a:before {
    content: "";
    width: 2.66667vw;
    height: 2.66667vw;
    border-radius: 50%;
    background-color: #6bbd11;
    border: 1px solid rgba(51,51,51,0.4);
    margin-right: 1.33333vw;
}
#multiMarketPin:before {
    content: "";
    width: 2.66667vw;
    height: 2.66667vw;
   background-color: transparent;
    border: none;
}

.highlight-list .inplay-on a:before, .inplay-list .inplay-on a:before, .highlight-list .inplay-off a:before, .inplay-list .inplay-off a:before {
    position: absolute;
    top: 50%;
    left: 2.66667vw;
    margin-top: 0.26667vw;
}

.highlight-list dt, .inplay-list dt {
    line-height: 4vw;
}

.game-fancy, .game-sportsbook, .game-bookmaker, .game-live {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4.26667vw;
    height: 4vw;
    padding: 0;
    border-radius: 0.8vw;
    margin-right: 1.33333vw;
}

.highlight-list .inplay-on span, .inplay-list .inplay-on span, .upcoming-list .inplay-on span, .menu-list .inplay-on span {
    font-weight: bold;
}
.game-live {
    width: 4.53333vw;
    background-color: #1876B2;
}

.game-low_liq {
    color: white;
    background-color: #d0021b;
    border-radius: 0.8vw;
    margin-right: 1.33333vw;
    font-size: 2.66667vw;
    padding-left: 1.33333vw;
    padding-right: 1.33333vw;
}

.game-fancy {
    background-color: #0A92A5;
}

.highlight-list .inplay-on span, .inplay-list .inplay-on span, .upcoming-list .inplay-on span, .menu-list .inplay-on span {
    font-weight: bold;
}

.in-play.game-fancy, .in-play.game-sportsbook, .in-play.game-bookmaker, .in-play.game-live {
    position: relative;
    padding: 0;
    overflow: auto;
    width: 8.53333vw;
}
.game-bookmaker {
    background-color: #226BC3;
}

.in-play.game-fancy pre, .in-play.game-sportsbook pre, .in-play.game-bookmaker pre, .in-play.game-live pre {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #60ba1e;
    color: #fff;
    width: 4.26667vw;
    height: 4vw;
}

.in-play.game-fancy pre:before, .in-play.game-sportsbook pre:before, .in-play.game-bookmaker pre:before, .in-play.game-live pre:before {
    content: "";
    width: 2.66667vw;
    height: 2.66667vw;
    background-image: url('data:image/svg+xml,<svg width="20" height="21" xmlns="http://www.w3.org/2000/svg"><path d="M10 18.944c1.94 0 3.592-.718 4.953-2.154 1.362-1.436 2.042-3.165 2.042-5.189 0-2.023-.68-3.744-2.042-5.164-1.361-1.42-3.012-2.13-4.953-2.13-1.94 0-3.592.71-4.953 2.13-1.362 1.42-2.042 3.141-2.042 5.164 0 2.024.68 3.753 2.042 5.19 1.361 1.435 3.012 2.153 4.953 2.153zm0-16.741c2.504 0 4.632.922 6.385 2.766 1.753 1.843 2.63 4.054 2.63 6.632 0 2.579-.877 4.79-2.63 6.633C14.632 20.078 12.504 21 10 21s-4.632-.922-6.385-2.766C1.862 16.39.985 14.18.985 11.601c0-2.578.877-4.789 2.63-6.632C5.368 3.125 7.496 2.203 10 2.203zm.516 4.21v5.482l3.991 2.448-.751 1.272-4.742-2.937V6.413h1.502zM5.87 1.566L1.268 5.58 0 4.014 4.6 0 5.87 1.566zM20 4.014l-1.268 1.615-4.6-4.063L15.398 0 20 4.014z" fill="%23C5F6EE" fill-rule="evenodd"/></svg>');
    background-size: contain;
}

.in-play.game-fancy:after, .in-play.game-sportsbook:after, .in-play.game-bookmaker:after, .in-play.game-live:after {
    margin-left: 4.26667vw;
}

.game-bookmaker:after {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M15.58 21c.876 0 1.642-.257 2.3-.77.656-.513 1.085-1.195 1.286-2.047l.986-4.487c.091-.348.05-.679-.123-.992A1.722 1.722 0 0019.33 12c.365-.14.699-.365 1-.678.3-.313.497-.644.588-.992l.986-4.513c.2-.852.087-1.534-.342-2.047-.43-.513-1.09-.77-1.985-.77H5.997L2 21h13.58zm-1.096-10.122h-3.942l1.26-5.608h3.942l-1.26 5.608zm-1.752 7.879H8.79l1.26-5.635h3.942l-1.26 5.635z" fill="%23CAFCFF" fill-rule="nonzero"/></svg>');
}

.game-fancy:after, .game-sportsbook:after, .game-bookmaker:after, .game-live:after {
    content: "";
    background-size: cover;
    width: 2.93333vw;
    height: 2.93333vw;
}

.highlight-list .inplay-on span, .inplay-list .inplay-on span, .upcoming-list .inplay-on span, .menu-list .inplay-on span {
    font-weight: bold;
}

.game-sportsbook {
    background-color: #E4550F;
}

.game-fancy:after, .game-sportsbook:after, .game-bookmaker:after, .game-live:after {
    content: "";
    background-size: cover;
    width: 2.93333vw;
    height: 2.93333vw;
}

.game-sportsbook:after {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M8.297 21l1.26-5.635 7.255.026c.876 0 1.642-.256 2.3-.77.656-.512 1.085-1.195 1.286-2.047l1.506-6.757c.2-.852.087-1.534-.342-2.047-.43-.513-1.09-.77-1.985-.77H5.997L2 21h6.297zm5.695-7.878h-3.943l1.752-7.852h3.943l-1.752 7.852z" fill="%23FCEDC0" fill-rule="nonzero"/></svg>');
}

.highlight-list .inplay-on .time, .inplay-list .inplay-on .time, .highlight-list .inplay-off .time, .inplay-list .inplay-off .time {
    font-weight: normal;
}

.highlight-list .inplay-on span, .inplay-list .inplay-on span, .upcoming-list .inplay-on span, .menu-list .inplay-on span {
    font-weight: bold;
}

.game-E {
    display: inline-flex;
    right: 0;
    height: 4vw;
    background-color: #fff;
    line-height: 4vw;
    font-size: 2.4vw;
    color: #1F5172;
    border-radius: 0.8vw;
    border: 1px solid #1F5172;
    margin-left: auto;
    margin-right: 1.33333vw;
    padding-right: 1.06667vw;
    overflow: hidden;
}

.game-E i {
    position: relative;
    width: 4.8vw;
    height: 100%;
    background-color: #1F5172;
    margin-right: 0.53333vw;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}   

.game-E i:before {
    content: '';
    width: 1.86667vw;
    height: 2.13333vw;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 15"><path fill="%23fff" d="M13 15v-4.768h-2.827v2.22H5.605V8.52h3.688V5.992H5.605V2.548h4.568v2.2H13V0H0v2.548h1.78v9.904H0V15z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -0.8vw;
}

.game-E i:after {
    position: absolute;
    right: 0;
    content: '';
    border-left: 1.33333vw solid transparent;
    border-bottom: 3.73333vw solid #fff;
}

.highlight-list .inplay-on .pin-on, .inplay-list .inplay-on .pin-on, .highlight-list .inplay-on .pin-off, .inplay-list .inplay-on .pin-off, .highlight-list .inplay-off .pin-on, .inplay-list .inplay-off .pin-on, .highlight-list .inplay-off .pin-off, .inplay-list .inplay-off .pin-off {
    flex: 0 1 6.66667vw;
    padding: 0;
}

.pin-on, .pin-off {
    width: 6.66667vw;
    height: 6.66667vw;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><g fill="none" fill-rule="evenodd"><circle cx="12.5" cy="12.5" r="12.5" fill="rgb(107,189,17)"/><path fill="rgb(255,255,255)" d="M17.59 11.922c1.606.516 2.443 1.107 2.443 2.166 0 .373-.066.616-.2.73-.134.115-.402.173-.804.173h-5.425l-.823 8.016h-.536l-.784-8.015H6.038c-.402 0-.67-.064-.804-.193-.134-.13-.2-.365-.2-.71 0-1.058.77-1.65 2.377-2.165.09 0 .18-.03.27-.086.49-.172.802-.444.936-.816L9.82 5.95v-.216c0-.23-.222-.415-.668-.558l-.067-.043h-.067c-.536-.143-.804-.387-.804-.73 0-.402.09-.652.268-.753.18-.1.49-.15.938-.15h6.16c.447 0 .76.05.938.15.178.1.268.35.268.752 0 .344-.268.588-.804.73h-.067l-.067.044c-.446.143-.67.33-.67.558v.215l1.206 5.07c.134.372.446.644.937.816.09.057.18.086.27.086z"/></g></svg>') no-repeat;
    background-size: contain;
    margin-right: 1.86667vw;
}

.pin-off {
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"><path fill="rgb(126,151,167)" d="M12.5 25C5.596 25 0 19.404 0 12.5S5.596 0 12.5 0 25 5.596 25 12.5 19.404 25 12.5 25zm0-1C18.85 24 24 18.85 24 12.5S18.85 1 12.5 1 1 6.15 1 12.5 6.15 24 12.5 24zm5.09-12.078c1.606.516 2.41 1.13 2.41 2.19 0 .373-.067.616-.2.73-.135.115-.403.173-.804.173H13.57l-.81 7.988h-.536l-.795-7.988H6.003c-.4 0-.67-.065-.803-.194-.133-.128-.2-.364-.2-.708 0-1.06.804-1.674 2.41-2.19.09 0 .18-.03.27-.086.49-.172.802-.444.936-.816L9.82 5.95v-.216c0-.23-.222-.415-.668-.558l-.067-.043h-.067c-.536-.143-.804-.387-.804-.73 0-.402.09-.652.268-.753.18-.1.49-.15.938-.15h6.16c.447 0 .76.05.938.15.178.1.268.35.268.752 0 .344-.268.588-.804.73h-.067l-.067.044c-.446.143-.67.33-.67.558v.215l1.206 5.07c.134.372.446.644.937.816.09.057.18.086.27.086z"/></svg>') no-repeat;
    background-size: contain;
}

.game-live:after {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><g fill="none" fill-rule="evenodd"><circle cx="6" cy="6" r="6" fill="%234AA2DB"/><path fill="%23FFF" d="M6 0a6 6 0 110 12A6 6 0 016 0zm0 1a5 5 0 100 10A5 5 0 006 1z" opacity=".605"/><path fill="%23FFF" d="M4 3v6l5-3z"/></g></svg>');
    background-repeat: no-repeat;
}

.game-fancy:after {
    background-image: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="M9.44 21.32l1.792-8.456h5.628l.504-2.408h-5.628l1.288-6.02h7.252L20.78 2H10.112c-.896 0-1.68.275-2.352.826-.672.55-1.11 1.283-1.316 2.198L3 21.32h6.44z" fill="%23C5F6EE" fill-rule="nonzero"/></svg>');
}

